.state-machine {
  position: relative;
  margin-top: 20px;
  padding-left: 120px;

  ul {
    list-style-type: none;
    padding: 0;
  }

  ul:before {
    position: absolute;
    top: 10px;
    bottom: 25px;
    display: block;
    width: 3px;
    content: "";
    background-color: $grid_color;
  }

  ul.okay:before {
    background: linear-gradient($grid_highlight_color, $grid_highlight_color, $success_color);
  }

  ul.error:before {
    background: linear-gradient($grid_highlight_color, $grid_highlight_color, $error_color);
  }

  li {
    margin: 20px 0px;
    position: relative;
    color: $secondary_font_color;
    min-height: 30px;
  }

  li.active {
    color: $primary_font_color;
  }

  .state-machine-item {
    display: flex;
    flex-direction: row;
  }

  svg {
    width: 15px;
    height: 15px;
    margin-left: -4px;
    margin-right: 5px;
    display: inline-block;
    margin-top: 4px;
  }

  .state-machine-bullet {
    fill: $grid_color;
    stroke: $grid_highlight_color;
    stroke-width: 2;
  }

  .active.okay .state-machine-bullet {
    fill: $success_secondary_color;
    stroke: $success_color;
  }

  .active.attention .state-machine-bullet {
    fill: #f3bc88;
    stroke: #FA9F47;
  }

  .active.error .state-machine-bullet {
    fill: $error_secondary_color;
    stroke: $error_color;
  }

  .state-machine-item-details {
    display: inline-block;
    position: relative;
  }

  .state-machine-item-state {
    font-size: 14px;
    font-weight: 500;
    width: 100px;
    display: inline-block;
  }

  .state-machine-item-time {
    font-size: 11px;
    color: $secondary_font_color;
    position: absolute;
    left: -120px;
    text-align: right;
  }

  .state-machine-item-message {
    display: block;
    font-size: 12px;
    color: $secondary_font_color;
  }
}
